{% load static from staticfiles %}

<!DOCTYPE html>

    <head>

        <title>Pixel Perfect</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'style.css' %}">

    </head>

    <body>

        <h1>Pixel Perfect</h1>

        {% for test in tests %}
            <p><a href="{% url 'test' test.id %}">{{ test.id }}</a></p>
        {% endfor %}

        <a href="{% url 'create' %}">Create a new test</a>

    </body>

</html>
