{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %}

        <h1><a href="{% url 'index' %}">Pixel Perfect</a></h1>

        <h2>#{{ test.id }}: {{ test.name }}</h2>

        <table>

            <tr class="test">

                <td>
                    <span>Mock</span>
                    <a href="{{ test.mock.url }}" class="img">
                        <img src="{{ test.mock.url }}">
                    </a>
                    <p>
                        <a href="{{ test.url }}">{{ test.url }}</a><br>
                        <a href="http://www.browserstack.com/screenshots/{{ test.browserstack_job_id }}.json">{{ test.browserstack_job_id }}</a>
                    </p>
                </td>

                <td>
                    <table>

                        {% for screenshot in test.screenshots.all %}
                            <tr class="result">

                                <td>
                                    {% if screenshot.browserstack_screenshot_image_url %}
                                        <span>Screenshot</span>
                                        <a href="/media/screenshots/{{ screenshot.browserstack_screenshot_id }}.png" class="img">
                                            <img src="/media/screenshots/{{ screenshot.browserstack_screenshot_id }}.png">
                                        </a>
                                    {% else %}
                                        <div class="img">No screenshot, yet&hellip;</div>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if screenshot.browserstack_screenshot_image_url %}
                                        <span>Difference</span>
                                        <a href="/media/diffs/{{ screenshot.browserstack_screenshot_id }}.png" class="img">
                                            <img src="/media/diffs/{{ screenshot.browserstack_screenshot_id }}.png">
                                        </a>
                                    {% else %}
                                        <div class="img">No difference, yet&hellip;</div>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}

                    </table>
                </td>
                <td>
                    <a href="{% url 'delete' test.id %}">Delete</a>
                </td>
            </tr>
        </table>

{% endblock %}
