{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %}

        <h1><a href="{% url 'index' %}">Pixel Perfect</a></h1>

        <h2>Test #{{ test.id }}</h2>

        <p>
            <input type="button" value="Re-compare all" class="compare-all">
            <a href="{% url 'sync' test.id %}">Re-sync</a>
        </p>

        <table>

            <tr class="test">

                <td>
                    <span>Mock</span>
                    <div class="img">
                        <img class="mock" src="{{ test.file.url }}">
                    </div>
                    <div><a href="{{ test.link }}">{{ test.link }}</a></div>
                    <div><a href="http://www.browserstack.com/screenshots/{{ test.browserstack_job_id }}.json">{{ test.browserstack_job_id }}</a></div>
                </td>

                <td>
                    <table>

                        {% for screenshot in test.screenshots.all %}
                            <tr class="result">

                                <td>
                                    {% if screenshot.browserstack_screenshot_image_url %}
                                        <span>Screenshot</span>
                                        <a href="{{ screenshot.browserstack_screenshot_image_url }}" class="img">
                                            <img class="screenshot" src="{{ screenshot.browserstack_screenshot_image_url }}">
                                        </a>
                                    {% else %}
                                        <div class="img">
                                            Screenshot not ready, yet.
                                        </div>
                                    {% endif %}
                                </td>

                                <td>
                                    <input class="compare" type="button" value="Re-compare">
                                    Mismatch percentage: <strong><span class="mismatch-percentage">&hellip;</span>%</strong>
                                    <div class="diff img">
                                        No comparison, yet.
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}

                        <tr class="result">
                            <td><span>Screenshot</span><a href="{% static 'ebay-today-prod.png' %}" class="img"><img class="screenshot" src="{% static 'ebay-today-prod.png' %}"></a></td>
                            <td><input class="compare" type="button" value="Re-compare"> Mismatch percentage: <strong><span class="mismatch-percentage">&hellip;</span>%</strong><div class="diff img">No comparison, yet.</div></td>
                        </tr>

                    </table>
                </td>
                <td>
                    <a href="{% url 'delete' test.id %}">Delete</a>
                </td>
            </tr>
        </table>

        <script src="{% static 'jquery.min.js' %}"></script>
        <script src="{% static 'resemble.js' %}"></script>
        <script src="{% static 'script.js' %}"></script>

{% endblock %}
